In [24]:
import pandas as pd
import numpy as np

# Load the dataset
# Make sure to adjust the path to where your CSV file is located
layoffs_df = pd.read_csv('D:\\New Project\\AI_ML\\Tech-Layoffs\\Data\\Raw\\layoffs.csv')
layoffs_df.head()

,company,location,total_laid_off,date,percentage_laid_off,industry,source,stage,funds_raised,country,date_added
0,Match Group,New York City,325.0,5/8/2025,13%,Consumer,https://www.bloomberg.com/news/articles/2025-0...,Post-IPO,NaN,United States,5/9/2025
1,CrowdStrike,SF Bay Area,500.0,5/7/2025,5%,Security,https://www.wsj.com/business/crowdstrike-to-cu...,Post-IPO,$1200,United States,5/7/2025
2,GenWise,"New Delhi,Non-U.S.",15.0,5/5/2025,20%,Other,https://entrackr.com/exclusive/exclusive-z47-b...,Seed,$3,India,5/5/2025
3,General Fusion,"Vancouver,Non-U.S.",NaN,5/5/2025,25%,Energy,https://techcrunch.com/2025/05/05/layoffs-hit-...,Unknown,$370,Canada,5/5/2025
4,Deep Instinct,"Tel Aviv,Non-U.S.",20.0,5/4/2025,10%,Security,https://www.calcalistech.com/ctechnews/article...,Unknown,$322,Israel,5/5/2025

In [ ]:
#Summary of the data
layoffs_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4061 entries, 0 to 4060
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   company              4061 non-null   object
 1   location             4060 non-null   object
 2   total_laid_off       2648 non-null   float64
 3   date                 4061 non-null   object
 4   percentage_laid_off  2584 non-null   object
 5   industry             4060 non-null   object
 6   source               4058 non-null   object
 7   stage                4054 non-null   object
 8   funds_raised         3614 non-null   object
 9   country              4061 non-null   object
 10  date_added           4061 non-null   object
dtypes: float64(1), object(10)
memory usage: 349.1+ KB

In [ ]:
#Summary statistics
layoffs_df.describe()

       total_laid_off
count     2648.000000
mean       276.584970
std        957.231693
min          3.000000
25%         40.000000
50%         85.000000
75%        200.000000
max      22000.000000

In [ ]:
#Check for missing values
layoffs_df.isnull().sum()

company                   0
location                  1
total_laid_off         1413
date                      0
percentage_laid_off    1477
industry                  1
source                    3
stage                     7
funds_raised            447
country                   0
date_added                0
dtype: int64

In [ ]:
#Identify duplicates
layoffs_df.duplicated().sum()

0

In [ ]:
#Drop rows with missing values
layoffs_df.dropna(inplace=True)

In [ ]:
# Processed data saved to a new CSV file at Data/Interim
# Save the processed DataFrame to a new CSV file
layoffs_df.to_csv('D:\\New Project\\AI_ML\\Tech-Layoffs\\Data\\Interim\\layoffs_processed.csv', index=False)